<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278359199665-saa9t8oal1b6ghttfbt9a7ia01c97lif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278359199665-saa9t8oal1b6ghttfbt9a7ia01c97lif</string>
	<key>API_KEY</key>
	<string>AIzaSyBbI-X8QxNJMefkflwKX-4lhhvhO-W-jI4</string>
	<key>GCM_SENDER_ID</key>
	<string>278359199665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mithaa.menu</string>
	<key>PROJECT_ID</key>
	<string>mithaa-menu</string>
	<key>STORAGE_BUCKET</key>
	<string>mithaa-menu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278359199665:ios:50b90360e9d70282443790</string>
</dict>
</plist>